{% extends 'base.html' %}
{% load staticfiles %}
{% load comment_tags %}
{% load likes_tags %}
{% load post_tags %}

{#页面标题#}
{% block title %}
    蒋振飞个人博客 - 技术分享
{% endblock title %}

{% block nav_blog_active %}active{% endblock %}

{% block header_extend %}

{% endblock %}

{% block nav_route %}
    <div class="welcome">您现在的位置是：<a href="{% url 'blog:home' %}">首页</a> > <a href="{% url 'blog:blog' %}">技术分享</a></div>
{% endblock nav_route %}

{% block content %}
    <div class="blogbox">
        <div class="bloglist">
            <ul id="bloglist">
                {% for post in post_list %}
                    <li>
                        <h2><a class="hvr-rotate" href="{% url 'blog:detail' post.id %}" target="_Blank">{{ post.title }}</a></h2>
                        <i><a href="{% url 'blog:detail' post.id %}">

                             {% if post.pimage %}
                                <img class="hvr-grow-shadow" src="/media/{{ post.pimage }}" title="{{post.title}}">
                             {% else %}
                                <img class="hvr-grow-shadow" src="/media/upload/images/2018/12/14e1dfa5574ba3a81a22ad7d11252405.jpg" title="{{post.title}}">
                             {% endif %}

                        </a></i>
                        <p class="blogtext"><a href="{% url 'blog:detail' post.id %}">{{ post.body|cut:'&nbsp;'|striptags|truncatechars:150|safe}}</a></p>
                        <p class="bloginfo">
                            <!--<span>{{ post.author.get_nickname_or_username }}</span>-->
                            <span>{{ post.created_time|date:"Y年m月d日" }}</span>
                            <span><a class="hvr-wobble-vertical" href="{% url 'blog:category' post.category.id %}">{{ post.category }}</a></span>
                            <span>浏览({{ post.get_read_num }}）</span>
                            <span style="padding-left: 0px"><samp class="fa fa-comment"></samp> 评论({% get_comment_count post %})</span>
                        </p>
                        <a href="{% url 'blog:detail' post.id %}" target="_blank" class="viewmore hvr-sweep-to-top hidden">阅读原文</a>
                    </li>
                    {% if not forloop.last %}
                        <div class="blank"></div>
                    {% else %}

                    {% endif %}
                {% empty %}
                    <li>暂无博客,敬请期待 !</li>
                {% endfor %}
            </ul>
            <div class="loaddiv hidden">
                <img src="{% static '/img/loading.gif' %}" />
            </div>
        </div>
        <div class="pagelist">
            <a title="Total record">&nbsp;<b>{{ page_of_list.paginator.count }}</b></a>&nbsp;&nbsp;&nbsp;

            {% if page_of_list.has_previous %}
                <a href="?page={{ page_of_list.previous_page_number }}">
                    上一页
                </a>
            {% endif %}

            {% for page_num in page_range %}
                {# 判断是否当前页 #}
                {% if page_num == page_of_list.number %}
                    {# 如果是当前页就设置高亮 #}
                    <b class="hidden-xs">{{ page_num }}</b>&nbsp;
                {% else %}
                    {% if page_num == '...' %}
                        <span class="hidden-xs">{{ page_num }}</span>
                    {% else %}
                        <a class="hidden-xs" href="?page={{ page_num }}">{{ page_num }}</a>
                    {% endif %}
                {% endif %}
            {% endfor %}


            {% if page_of_list.has_next %}
                <a href="?page={{ page_of_list.next_page_number }}">
                    下一页
                </a>
            {% endif %}

            <span class="hidden-xs" id="page_goto"><input type="text" value="6"></span>
            <a class="hidden-xs" href="javascript:void(0);" onclick="page_jump();">Go</a>

        </div>
    </div>
    {% block side_list %}
        <div class="rside">
        <div class="news" id="hot">
            <h2 class="newstitle"><span><a href="{% url 'blog:blog' %}"><u>更多</u></a></span><b>热门排行</b></h2>
            <ul>
                {% for post in all_hot_posts %}
                    <li><a class="hvr-curl-bottom-right" href="{% url 'blog:detail' post.id %}" target="_Blank"><span>{{ post.created_time|date:"Y-m-d" }}</span>{{ post.title|striptags|truncatechars:23|safe }}</a></li>
                {% empty %}
                    <span>暂无排行 !</span>
                {% endfor %}
            </ul>
        </div>
        <div class="news" id="random" style="display: none">
            <h2 class="newstitle"><span><a href="{% url 'blog:blog' %}"><u>更多</u></a></span><b>随机推荐</b></h2>
            <ul>
                 {% for post in random_recommend %}
                    <li><a class="hvr-curl-bottom-right" href="{% url 'blog:detail' post.id %}" target="_Blank"><span>{{ post.created_time|date:"Y-m-d" }}</span>{{ post.title|striptags|truncatechars:23|safe }}</a></li>
                {% empty %}
                    <span>暂无推荐 !</span>
                {% endfor %}
            </ul>
        </div>
        <div class="news" id="latest" style="display: none">
            <h2 class="newstitle"><span><a href="{% url 'blog:blog' %}"><u>更多</u></a></span><b>最新推荐</b></h2>
            <ul>
                {% for post in new_recommend %}
                    <li><a class="hvr-curl-bottom-right" href="{% url 'blog:detail' post.id %}" target="_Blank"><span>{{ post.created_time|date:"Y-m-d" }}</span>{{ post.title|striptags|truncatechars:23|safe }}</a></li>
                {% empty %}
                    <span>暂无推荐 !</span>
                {% endfor %}
            </ul>
      </div>
    </div>
    {% endblock side_list %}

{% endblock content %}

{% block script_extends %}
    <script type="text/javascript" rel="stylesheet" src="{% static 'blog/blog.js' %}"></script>
    <!--<script type="text/javascript" rel="stylesheet" src="{% static 'base/endlesspage.js' %}"></script>-->
    <!--<script>-->
        <!--/*endlesspage.js*/-->
        <!--var i = 1; //设置当前页数，全局变量-->
        <!--$(function () {-->
          <!--//根据页数读取数据-->
            <!--function getData(pagenumber) {-->
                <!--i++; //页码自动增加，保证下次调用时为新的一页。-->
                <!--// $.get("/blog_ajax", { pagenumber: pagenumber }, function (data) {-->
                <!--//   if (data.length > 0) {-->
                <!--//     var jsonObj = JSON.parse(data);-->
                <!--//     insertDiv(jsonObj);-->
                <!--//   }-->
                <!--// });-->
                <!--$.ajax({-->
                    <!--type: "POST",-->
                    <!--url: "/ajax_blog",-->
                    <!--data: { pagenumber: pagenumber },-->
                    <!--dataType: "json",-->
                    <!--success: function (data) {-->
                        <!--$(".loaddiv").hide();-->
                        <!--if (data.length > 0) {-->
                        <!--var jsonObj = JSON.parse(data);-->
                        <!--insertDiv(jsonObj);-->
                    <!--}-->
                    <!--},-->
                    <!--beforeSend: function () {-->
                        <!--$(".loaddiv").show();-->
                    <!--},-->
                    <!--error: function () {-->
                        <!--$(".loaddiv").hide();-->
                    <!--}-->
                <!--});-->
            <!--}-->
            <!--//初始化加载第一页数据-->
            <!--getData(1);-->
            <!--//生成数据html,append到div中-->
            <!--function insertDiv(json) {-->
                <!--var $mainDiv = $("#bloglist");-->
                <!--var html = '';-->
                <!--for (var i = 0; i < json.length; i++) {-->
                    <!--html += '<li>' + '<h2>' + '<a class="hvr-rotate"' + ' href="/detail/11" target="_Blank">' + json[i].id +-->
                        <!--'</a></h2><i><a href="/detail/11">' +-->
                        <!--'<img class="hvr-grow-shadow" src="图片" title="标题"></a></i><p class="blogtext">博客</p><p class="bloginfo">' +-->
                        <!--'<span>2018年12月22日</span><span><a class="hvr-wobble-vertical" href="分类">分类</a></span> <span>浏览(41）</span>' +-->
                        <!--'<span style="padding-left: 0px"><samp class="fa fa-comment"></samp>评论</span>' +-->
                        <!--'</p><a href="/detail/11" target="_blank" class="viewmore hvr-sweep-to-top">阅读原文</a></li>'-->

                <!--}-->
                <!--$mainDiv.append(html);-->
              <!--}-->
            <!--//==============核心代码=============-->
            <!--var winH = $(window).height(); //页面可视区域高度-->
            <!--var scrollHandler = function () {-->
            <!--var pageH = $(document.body).height();-->
            <!--var scrollT = $(window).scrollTop(); //滚动条top-->
            <!--var aa = (pageH - winH - scrollT) / winH;-->
            <!--if (aa < 0.02) {//0.02是个参数-->
                <!--if (i % 10 === 0) {//每10页做一次停顿！-->
                    <!--getData(i);-->
                    <!--$(window).unbind('scroll');-->
                    <!--$("#btn_Page").show();-->
                <!--} else {-->
                    <!--getData(i);-->
                    <!--$("#btn_Page").hide();-->
                <!--}-->
            <!--}-->
            <!--};-->
            <!--//定义鼠标滚动事件-->
            <!--$(window).scroll(scrollHandler);-->
            <!--//==============核心代码=============-->
            <!--//继续加载按钮事件-->
            <!--$("#btn_Page").click(function () {-->
                <!--getData(i);-->
                <!--$(window).scroll(scrollHandler);-->
           <!--});-->
        <!--});-->
    <!--</script>-->
{% endblock %}