{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}
     注册 - 蒋振飞的博客
{% endblock %}

{% block nav_register_active %}active{% endblock %}
{% block lunbobox %}{% endblock %}

{% block content %}
    <div class="container" style="margin-top: 60px;">
        {% if user.is_authenticated %}
            <div style="width: 500px;margin:auto;margin-top: 150px;">
                <h2 class="text-center">已登录</h2>
                <p class="text-center">
                    <span>您已登录，<span id="time_left">3</span>秒后跳转到首页...</span>
                </p>
            </div>
              <script type="text/javascript">
                $(function(){
                    var time = 3000 / 1000;
                    intervalid = window.setInterval(function(){
                        if (time <= 0){
                            clearInterval(intervalid);
                            window.location = '/';
                        }
                        $('#time_left').text(time);
                        time -= 1;
                    },1000);
                });
            </script>
        {% else %}

            <div class="head-register clearfix">
                <h2 class="text-info">欢迎注册用户</h2>
                <span>小心保管自己的密码，千万不要告诉别人哟！</span>
            </div>

            <div class="register">
                <form action="" method="POST">
                {% csrf_token %}
                    <input name="referer" type="hidden" value="{{ referer }}">
                {% for field in reg_form %}
                    {# label去冒号 #}
                    <label for="{{ field.id_for_label }}">{{ field.label }}:</label>
                        {{ field }}
                    <p class="text-danger">{{ field.errors.as_text }}</p>
                {% endfor %}
                    <span class="other_account">第三方账号登录：
                         <a href="{% url 'oauth:github_login' %}" title="Github登录">
                             <img src="{% static 'blog/media/github.ico' %}" alt="Github登录">
                         </a>
                            {# <a href="/oauth/oauth_login/QQ?state=https://jzfblog.com/" title="QQ登录">#}
                            <img src="{% static 'blog/media/qq.ico' %}" alt="QQ登录">
                            {# </a>#}
                        {# <a href="{% url 'oauth:github_login' %}" title="Github登录">#}
                             &nbsp;<img src="{% static 'blog/media/weibo.ico' %}" alt="微博登录">
                        {# </a>#}
                    </span>
                    {# 错误信息标红 #}
                      <span class="pull-left text-danger">{{ login_form.non_field_errors }}</span>
                    {# <span>用户名：</span> #}
                    {# <input type="text" name="username"> #}
                    {# <span>密码：</span> #}
                    {# <input type="password" name="password"> #}
                    {# <span style="font-weight: bold;">已有帐号？<a style="color: #337ab7;" href="{% url 'user:login' %}">点击登录</a></span>#}
                    <div class="clearfix" style="height: 5px"></div>
                    <button class="btn btn-primary pull-right" type="submit">注册</button>
                    <button id="send_code" class="btn btn-primary pull-left">发送验证码</button>
                </form>

                <div class="register-button hidden-xs">
                    <p class="no-user"> 已有账号？</p>
                    <p>
                        <a href="{% url 'user:login' %}">
                        <button class="btn btn-default" type="submit">点击登录</button>
                        </a>
                    </p>
                    <p class="no-user"> 忘记密码？</p>
                    <p>
                        <a href="{% url 'user:forgot_password' %}">
                        <button class="btn btn-default" type="submit">点击找回</button>
                        </a>
                    </p>
                </div>
            </div>

        {% endif %}
    </div>
{% endblock %}

{% block script_extends %}
    <script type="text/javascript">
        $("#send_code").click(function () {
           var email = $("#id_email").val()
            //判断邮箱是否为空
            if(email==""){
               $("#tip").text('邮箱不能为空');
               return false;
            }
            //发送验证码
            $.ajax({
                url: '{% url 'user:send_verification_code' %}',
                type: 'GET',
                data: {
                    'email': email,
                    'send_for': 'register_code'
                },
                cache: false,
                success: function (data) {
                    if(data['status']=='ERROR'){
                        alert('当前请求过于频繁！');
                    }
                }
            });
           //把按钮变灰
            $(this).addClass('disabled');
            $(this).attr('disabled', true);
            var time = 30;
            $(this).text(time + 's');
            var interval = setInterval(() => {
                if(time <= 0){
                    clearInterval(interval);
                    $(this).removeClass('disabled');
                    $(this).attr('disabled', false);
                    $(this).text('发送验证码');
                    return false;
                }

                time --;
                $(this).text(time + 's');
            }, 1000);
        });
    </script>
{% endblock %}