{% extends 'base.html' %}
{% load staticfiles %}
{% load post_tags %}

{% block title %}
    蒋振飞个人博客 - 分享全栈开发和IT技术的个人博客网站
{% endblock %}

{% block header_extend %}

{% endblock %}

{% block nav_home_active %}active{% endblock %}

{% block nav_route %}
    <div class="welcome">
        当前时间：<span id="time"></span>
    </div>
{% endblock nav_route %}

{% block content %}

    <div class="picbox">
        <h2 class="pictitle"><a href="/"><u>头条展示</u></a></h2>
        <!--box begin-->
        <div class="Box_con"> <span class="btnl btn" id="btnl"></span> <span class="btnr btn" id="btnr"></span>
            <div class="conbox" id="BoxUl">
                <ul>
                     {% for post in all_hot_posts %}
                        {% if forloop.counter == 1 %}
                            <li class="cur hvr-grow-shadow">
                                <a href="{% url 'blog:detail' post.id %}">

                                    {% if post.pimage %}
                                        <img src="/media/{{ post.pimage }}" title="{{post.title}}">
                                    {% else %}
                                        <img src="/media/upload/images/2018/12/14e1dfa5574ba3a81a22ad7d11252405.jpg" title="{{post.title}}"}}">
                                    {% endif %}

                                    <p>{{ post.title }}</p>
                                </a>
                            </li>
                        {% else %}
                            <li class="hvr-grow-shadow">
                                <a href="{% url 'blog:detail' post.id %}">
                                    {% if post.pimage %}
                                        <img src="/media/{{ post.pimage }}" title="{{post.title}}">
                                    {% else %}
                                        <img src="/media/upload/images/2018/12/14e1dfa5574ba3a81a22ad7d11252405.jpg" title="{{post.title}}">
                                    {% endif %}
                                    <p>{{ post.title }}</p>
                                </a>
                            </li>
                        {% endif %}
                    {% empty %}
                        <span>暂无推荐 !</span>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <!--box end-->
    </div>
    <div class="newsbox">
        <section>
            <div class="news">
                <h2 class="newstitle"><span><a href="{% url 'blog:blog' %}"><u>更多</u></a></span><b>最新发表</b></h2>
                <ul>

                    {% for post in new_publish %}
                        <li><a class="hvr-buzz-out" href="{% url 'blog:detail' post.id %}" target="_Blank"><span>{{ post.created_time|date:"Y-m-d" }}</span>{{ post.title|striptags|truncatechars:23|safe }}</a></li>
                    {% empty %}
                       <span class="tint">暂无发表 !</span>
                    {% endfor %}

                </ul>
            </div>
        </section>
        <section>
            <div class="news">
                <h2 class="newstitle"><span><a href="{% url 'blog:blog' %}"><u>更多</u></a></span><b>最新推荐</b></h2>
                <ul>
                    {% for post in new_recommend %}
                        <li><a class="hvr-buzz-out" href="{% url 'blog:detail' post.id %}" target="_Blank"><span>{{ post.created_time|date:"Y-m-d" }}</span>{{ post.title|striptags|truncatechars:23|safe }}</a></li>
                    {% empty %}
                        <span>暂无推荐 !</span>
                    {% endfor %}
                </ul>
            </div>
        </section>
        <section>
            <div class="news">
                <h2 class="newstitle"><span><a href="{% url 'blog:blog' %}"><u>更多</u></a></span><b>随机推荐</b></h2>
                <ul>
                    {% for post in random_recommend %}
                        <li><a class="hvr-buzz-out" href="{% url 'blog:detail' post.id %}" target="_Blank"><span>{{ post.created_time|date:"Y-m-d" }}</span>{{ post.title|striptags|truncatechars:23|safe }}</a></li>
                    {% empty %}
                        <span>暂无推荐 !</span>
                    {% endfor %}
                </ul>
            </div>
        </section>
        <section id="week" style="display: none">
            <div class="news">
                <h2 class="newstitle"><span><a href="{% url 'blog:blog' %}"><u>更多</u></a></span><b>阅读周榜</b></h2>
                <ul>
                    {% for post in last_7_days_hot_data %}
                        <li><a class="hvr-buzz-out" href="{% url 'blog:detail' post.id %}" target="_Blank"><span>{{ post.created_time|date:"Y-m-d" }}</span>{{ post.title|striptags|truncatechars:23|safe }}</a></li>
                    {% empty %}
                        <span>暂无周榜 !</span>
                    {% endfor %}
                </ul>
            </div>
        </section>
        <section id="month" style="display: none">
            <div class="news">
                <h2 class="newstitle"><span><a href="{% url 'blog:blog' %}"><u>更多</u></a></span><b>阅读月榜</b></h2>
                <ul>
                    {% for post in last_30_days_hot_data %}
                        <li><a class="hvr-buzz-out" href="{% url 'blog:detail' post.id %}" target="_Blank"><span>{{ post.created_time|date:"Y-m-d" }}</span>{{ post.title|striptags|truncatechars:23|safe }}</a></li>
                    {% empty %}
                        <span>暂无月榜 !</span>
                    {% endfor %}
                </ul>
            </div>
        </section>
        <section id="all" style="display: none">
            <div class="news">
                <h2 class="newstitle"><span><a href="/"><u>更多</u></a></span><b>阅读总榜</b></h2>
                <ul>
                     {% for post in all_hot_posts %}
                        <li><a class="hvr-buzz-out" href="{% url 'blog:detail' post.id %}" target="_Blank"><span>{{ post.created_time|date:"Y-m-d" }}</span>{{ post.title|striptags|truncatechars:23|safe }}</a></li>
                    {% empty %}
                        <span>暂无总榜 !</span>
                    {% endfor %}
                </ul>
            </div>
        </section>
    </div>
    <div class="blank"></div>
    <div class="links" id="link">
        <h2 class="linktitle">友情链接</h2>
        <ul class="link-pic">
            <li class="hvr-grow-shadow">
                <a href="https://www.yangruolan.com/" target="_blank">
                    <img src="{% static 'img/ruolan.png' %}" title="若岚博客">
                </a>
            </li>
            <li class="hvr-grow-shadow"><a href="https://itbyc.com/" target="_Blank"><img src="{% static 'img/yangyu.jpg' %}" title="杨雨个人博客"></a></li>
            <!--<li class="hvr-grow-shadow"><a href="https://blog.whezh.com/" target="_Blank"><img src="{% static 'img/hezhou.png' %}" title="何洲个人博客"></a></li>-->
            <li class="hvr-grow-shadow"><a href="https://zhangge.net/" target="_Blank"><img src="{% static 'img/zhangge.png' %}" title="张戈博客"></a></li>
            <li class="hvr-grow-shadow"><a href="https://laod.cn/" target="_Blank"><img src="{% static 'img/laodcn.png' %}" title="老D博客"></a></li>
            <li class="hvr-grow-shadow"><a href="https://www.talklee.com/" target="_Blank"><img src="{% static 'img/liyang.png' %}" title="李洋个人博客"></a></li>
        </ul>
        <ul class="link-text">
            <li><a class="hvr-underline-from-center" href="https://www.deanhan.cn/" target="_Blank">逐梦博客</a></li>
            <!--<li><a class="hvr-underline-from-center" href="http://cuijiahua.com/" target="_Blank">Jack Cui</a></li>-->
            <li><a class="hvr-underline-from-center" href="http://www.jloongking.cn/" target="_Blank">井龙王博客</a></li>
            <li><a class="hvr-underline-from-center" href="https://www.zhyd.me/" target="_Blank">张亚东博客</a></li>
            <li><a class="hvr-underline-from-center" href="https://www.liaoxuefeng.com/" target="_Blank">廖雪峰老师</a></li>
            <li><a class="hvr-underline-from-center" href="https://cuiqingcai.com/" target="_Blank">崔庆才老师</a></li>
            <li><a class="hvr-underline-from-center" href="http://www.cnblogs.com/52-qq/p/8320303.html" target="_Blank">Python全栈</a></li>
            <li><a class="hvr-underline-from-center" href="http://cmsblogs.com/" target="_Blank">Java技术驿站</a></li>
        </ul>
    </div>

<script>
    $(function () {
        setInterval(function () {

            var d, s = "";
            var x = new Array("星期日", "星期一", "星期二", "星期三", "星期四", "星期五", "星期六");
            d = new Date();
            s += d.getFullYear() + "年" + (d.getMonth() + 1) + "月" + d.getDate() + "日 ";
            s += d.getHours() + "时" + (d.getMinutes()) + "分" + d.getSeconds() + "秒 ";
            s += x[d.getDay()];
            $("#time").text(s);
        }, 1000);
    });
    </script>
    <script src="{%static 'home/home.js' %}"></script>
{% endblock %}